# https://qiita.com/OSKD/items/095a561a5ab9a65fdf14

# Java(Javaの自動生成ファイルを対象外にする)
*.class
*.jar
*.war
*.ear

# Eclipse(Eclipseの自動生成ファイル/制御ファイルを対象外にする)
.project
.classpath
.settings

# Idea(Ideaの自動生成ファイル/制御ファイルを対象外を対象外にする)
.idea
*.iml
*.iws
*.ipr

# Gradle(Gradleで自動作成されるファイルを対象外にする)
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
